html,
body {
  padding: 0;
  margin: 0;
}

details {
  padding: 8px 0;
}

summary {
  margin-bottom: 8px;
}

#log-wrapper {
  background: #eee;
  border-radius: 5px;
  padding: 8px;
  height: 250px;
  overflow-y: scroll;
}

#log-wrapper .log {
  color: #555;
}

#log-wrapper .warn {
  color: #7e6b00;
}

#log-wrapper .error {
  color: #a00000;
}

.preview-wrapper {
  height: 100%;
}

#preview {
  width: 100%;
  height: 100%;
  border: 0;
}

.wrapper {
  box-sizing: border-box;
  padding: 8px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
